.actions {
  width: 75%;
  /* outline: solid 1px blue; */
}

.actions p {
  font-size: 18px;
  margin-bottom: 5px;
}

.closing {
  width: 75%;
  /* outline: solid 1px blue; */
}

.closing p {
  font-size: 18px;
}

.copy-button {
  -webkit-transition: color 150ms ease;
  background: none;
  border: none;
  color: #696969;
  font-size: 20px;
  margin: 0 0 0 20px;
  padding: 0;
  transition: color 150ms ease;
}

.copy-button:hover {
  color: #000;
  cursor: pointer;
}

footer {
  background-color: #7fffd4;
  font-family: "Poppins", sans-serif;
  font-style: italic;
  padding: 10px;
  text-align: center;
}

.footer-logo {
  margin: 0 auto;
  width: 50px;
}

.footer-logo img {
  height: auto;
  width: 100%;
}

header {
  background-color: #7fffd4;
  font-family: "Poppins", sans-serif;
  padding: 40px 30px;
}

header h1 {
  font-size: 32px;
  margin: 0;
}

header span {
  font-size: 16px;
  font-style: italic;
}

.intro {
  margin-bottom: 20px;
  width: 75%;
  /* outline: solid 1px blue; */
}

.intro p {
  font-size: 18px;
  margin-bottom: 10px;
}

.intro p:last-of-type {
  margin-bottom: 0;
}

main {
  -ms-flex-direction: column;
  -ms-flex-pack: space-evenly;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-box-pack: space-evenly;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  flex-direction: column;
  font-family: "Poppins", sans-serif;
  justify-content: space-evenly;
  min-height: 100%;
  padding: 40px 50px
    /* outline: solid 1px blue; */
}

.terminal-text {
  -ms-flex-align: center;
  -ms-flex-direction: row;
  -webkit-box-align: center;
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  align-items: center;
  background-color: #dcdcdc;
  display: -ms-inline-flexbox;
  display: -webkit-inline-box;
  display: inline-flex;
  flex-direction: row;
  font-family: "Roboto Mono", monospace;
  font-size: 16px;
  height: 40px;
  margin-bottom: 25px;
  padding: 0 15px;
  position: relative;
}

.terminal-text-copied {
  -webkit-transform: translateY(-50%);
  -webkit-transition: left 250ms ease;
  background-color: #7fffd4;
  color: #000;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  left: 0;
  padding: 5px 5px 5px 15px;
  position: absolute;
  text-align: right;
  top: 50%;
  transform: translateY(-50%);
  transition: left 250ms ease;
  width: auto;
  z-index: -1;
  /* outline: solid 1px blue; */
}

.show-copied-message {
  left: 100%;
}

@media (max-width: 1000px) {

  .actions {
    width: 85%;
  }

  .closing {
    width: 85%;
  }

  .intro {
    width: 85%;
  }
}

@media (max-width: 700px) {

  .actions p,
  .closing p,
  .intro p {
    font-size: 16px;
  }

  .actions {
    width: 95%;
  }

  .closing {
    width: 95%;
  }

  header h1 {
    font-size: 22px;
  }

  header span {
    font-size: 16px;
  }

  .intro {
    width: 95%;
  }

  main {
    padding: 40px 10px 40px 20px
  }

  .terminal-text {
    font-size: 14px;
  }
}