@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Roboto+Mono&display=swap");

* {
  box-sizing: border-box;
}

.actions {
  margin: 0 auto;
  width: 90%;
  /* outline: solid 1px blue; */
}

.actions p {
  font-size: 18px;
  margin-bottom: 5px;
}

body {
  height: 100vh;
  margin: 0;
  overflow-x: hidden;
  padding: 0;
  width: 100%;
}

.closing {
  margin: 0 auto;
  width: 90%;
  /* outline: solid 1px blue; */
}

.closing p {
  font-size: 18px;
}

.copy-button {
  background: none;
  border: none;
  color: #696969;
  font-size: 20px;
  margin: 0 0 0 20px;
  padding: 0;
  transition: color 150ms ease;
}

.copy-button:hover {
  color: #000;
  cursor: pointer;
}

footer {
  background-color: #7fffd4;
  font-family: "Poppins", sans-serif;
  font-style: italic;
  padding: 20px 10px;
  text-align: center;
}

header {
  background-color: #7fffd4;
  font-family: "Poppins", sans-serif;
  padding: 40px 30px;
}

header h1 {
  font-size: 32px;
  margin: 0;
}

header span {
  font-size: 16px;
  font-style: italic;
}

html {
  height: 100%;
  width: 100%;
}

.intro {
  margin: 0 auto;
  width: 90%;
  /* outline: solid 1px blue; */
}

.intro p {
  font-size: 18px;
}

main {
  /* border: solid 1px blue; */
  display: flex;
  flex-direction: column;
  font-family: "Poppins", sans-serif;
  justify-content: space-evenly;
  min-height: 100%;
}

.terminal-text {
  align-items: center;
  background-color: #dcdcdc;
  display: inline-flex;
  flex-direction: row;
  font-family: "Roboto Mono", monospace;
  font-size: 16px;
  height: 40px;
  padding: 0 15px;
  position: relative;
}

.terminal-text-copied {
  background-color: #7fffd4;
  color: #000;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  left: 0;
  padding: 5px 5px 5px 15px;
  position: absolute;
  text-align: right;
  top: 50%;
  transform: translateY(-50%);
  transition: left 250ms ease;
  width: auto;
  z-index: -1;
  /* outline: solid 1px blue; */
}

.show-copied-message {
  left: 100%;
}

@media (max-width: 700px) {
  .actions p,
  .closing p,
  .intro p {
    font-size: 16px;
  }

  header h1 {
    font-size: 22px;
  }

  header span {
    font-size: 14px;
  }

  .terminal-text {
    font-size: 14px;
  }
}
